#tt_ct{
	width: 100%;
	min-height: 200px;	
	display: none;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
	outline: none;
}

.ht{
	padding-left: 39px;
    font-size: 20px;
    outline: none;
    border: 0px;
    background: none;
}

.hd p{
	text-align: center;
}

.hd ul{
	padding: 0px;
	text-align: center;
	list-style-type: none;
}

#thongke span{
	padding: 10px 3px;
}

#thongke button{
	margin: 26px auto;
    padding: 3px 15px;
    background: #4a4adf;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
}

#thongke button:hover{
	 background: #7b7bce;
}
